@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

body{
    background: #f2f2f2;
    margin: 0;
    font-family: Poppins;
}


.navbar{
   
   .container{
    padding: 1em 1em;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
     .logo{
         text-decoration: none;
         font-weight: bold;
         color: black;
         font-size: 1.2em;
         span{
             text-transform: uppercase;
             color: #007AF3;
             
         }
     }

     nav{
        display: none;
     }
     .mobile-menu{
         &:hover{
             cursor: pointer;
            
         }
     }
   }
}

.hero{
    .container{
        
        text-align: center;
        .subhead{
            letter-spacing: .3em;
            text-transform: uppercase;
            font-weight: bold;
            color: grey;
        }
        h1{
            font-size: 2.5em;
            line-height: 1.3em;
            margin-top: .2em;
        }
        .hero-cta{
            .primary-cta{
                font-weight: bold;
                background-color: #007AF3;
                padding: .5em 1.3em;
                border-radius: 5em;
                font-size: 1.4em;
                text-decoration: none;
                color: white;
                display: inline-block;
                &:hover{
                    background: #0a91ff;
                }
                
            }
           
            .secondary-cta{
                display: block;
                margin-top: 1em;
                font-weight: bold;
                color: gray;
                img{
                    margin-right: 1em;
                }
                
            }
        }
        .hero-img{
            width: 70%;
            margin-top: .3em;
            
        }
    }
}
section{
    padding: 1em 3em;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    color: black;
}
.features-section{
    background-color: black;
    color: white;
    ul.feature-list{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(19rem,1fr));
    }
    .container{
     padding: 2em 0em;
      
    }
    .feature-image{
        display: none;
    }
    li{
        position: relative;
        font-size: 1.2em;
        margin-left: 2em;
        margin-bottom: 1em;
        &::before{
            content: '';
            background-image: url(../images/bullet.svg);
            position: absolute;
            width: 20px;
            height: 20px;
            background-size: contain;
            margin-left: -2em;
        }
    }
}
.testonimal-section{
    background: #007AF3;
    .testonimal-container{
     ul{
         text-align: center;
     }
     li{
         background: #005cb8d2;
         margin-top: 4em;
         padding-bottom: 3em;
         border-radius: 1em;
         color: white;
     }


        img{
            width: 18vh;
            height: 18vh;
            border: .5em solid #005cb8d2;;
            border-radius: 5em;
            position: relative;
            bottom: 3em;;
        }
        cite{
            text-transform: uppercase;
            font-weight: bold;

        }
    }
}
h2{
    font-size: 2em;
}
label,input{
    display: block;
    font-size: 1.2em;
    margin-bottom: .5em;
    
    
}
input,textarea{
    width: 100%;
    padding: .5em;
    box-sizing: border-box;
    border: 1px solid grey;
    border-radius: .5em;
    margin-bottom: .5em;
}
input[type='submit']{
  background: #007AF3;
  color: white;
  margin-bottom: 2em;
  display: inline-block;
  font-weight: bold;
  border: none;
  border-radius: 1em;
  cursor: pointer;   
  &:hover{
     background:  #0258f8;;
  }
}
iframe{
   height: 300px;
    width: 100%;
}
nav.menu-btn{
    display: block;
}

nav{
    position: fixed;
    z-index: 999;
    right: 0%;
    top: 0;
    background: rgb(24, 23, 23);
    height: 100vh;
    padding: 1.5em;
    width: 40%;
    ul li a{
         display: block;
         text-decoration: none;
         color: white;
         font-size: 1.3em;
         padding: .5em;
         text-align: right;
         &:hover{
             font-weight: bold;
         }
           
    }
}
.menu-exit{
    cursor: pointer;  
}
@media only screen and (min-width:700px){
    .mobile-menu , .menu-exit{
        display: none;
    }
   .navbar .container{
       display: grid;
       grid-template-columns:180px auto;
       justify-content: unset;
       
   }
   .logo{
       margin-top: .2em;
   }

   #navagation{
          display: flex;
          background: none;
          position: unset;
          height: auto;
          width: 100%;
          padding: 0%;
          justify-content: space-between;
       ul{
           display: flex;
           
       }
      li{
          margin-right: .3em;
      }
       a{
           color: black;
           font-size: 1em;
        

       }
       li.current a{
           font-weight: bold;
       }

       .secondary-nav-cta{
          border: 2px solid #007AF3; 
          border-radius: 2em;
          &:hover{
            background:#007AF3; ;
         } 
       }
       
       .secondary-nav-cta a{
        color: #007AF3;
         &:hover{
             color: white;
         }
       }
      
   }
}

@media only screen and (min-width:1080px){

}